@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;

    /* Color Palette 60-30-10 TDKop */
    --color-tdkop-bg: #F8FAFC;
    /* 60% Dominan: Slate Very Light */
    --color-tdkop-navy: #0F172A;
    /* 30% Sekunder: Slate Dark */
    --color-tdkop-primary: #1E40AF;
    /* 30% Sekunder: Royal Blue Utama */
    --color-tdkop-accent: #0EA5E9;
    /* 10% Aksen: Sky Blue Accent */
    --color-tdkop-gold: #F59E0B;
    /* 10% Aksen Tambahan: Warm Gold */
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-tdkop-bg);
    color: #334155;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}