@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;


    --color-tdkop-bg: #F8FAFC;

    --color-tdkop-navy: #0F172A;

    --color-tdkop-primary: #1E40AF;

    --color-tdkop-accent: #0EA5E9;

    --color-tdkop-gold: #F59E0B;

}

body {
    font-family: var(--font-sans);
    background-color: var(--color-tdkop-bg);
    color: #334155;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}